@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box !important;
  height: -webkit-fill-available;
  @apply font-mono;
  @apply font-bold;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-600;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-900;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @apply bg-neutral-200;
}

#root {
  height: 100%;
  height: -webkit-fill-available;
  width: 100%;
  margin: 0;
  padding: 0;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input {
  @apply text-2xl;
}
